.content-header {
    min-height: 40px;
}


.content-header{
    margin-bottom: 22px;
}

.content-header>.breadcrumb{
    float: left;
    left: 0!important;
}

.content {
    margin: 0 15px;
}

.display-none {
    display: none;
}

.alert {
    position: absolute;
    z-index: 9999999;
    width: 400px;
    right: 30px;
    top: 30px;
}

.pr-0{
    padding-right: 0;
}

.ml-10 {
    margin-left: 10px;
}

.mr-10{
    margin-right: 10px;
}

.p-0{
    padding: 0;
}

.content{
    padding: 0 15px 15px 15px;
}